.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  width: calc(100% - 250px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 16px;
}

.inputField {
  padding: 16px;
  text-align: left;
  font-size: 20px;
  width: 100%;
}

.inputForm {
  margin: 5px;
  font-size: 20px;
  border-left-width:0; 
  border-right-width:0;
  border-top-width:0;
  border-bottom-width:1;
}

.allocate {
  text-align: center;
  padding-bottom: 110px;
  width: 100%;
  flex-direction: column;
  justify-content: center;

}

.filter {
  font-size: 15px;
  padding: 5px;
  margin: 16px;
  position: absolute;
  top:320px;
  right: 140px;
}

table {
    width: 100%;
    border: none;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
}
th {
  padding: 10px 0px;
  border: none;
  background-color: #D3D3D3;
  font-size: 20px;
  font-weight: 1000;
  position: sticky;
  top: 0;
}
td {
    padding: 20px 5px;
    font-size: 20px;
    border: none;
    height:10px;
    font-weight: 500;
}

.inputButton {
  background-color: #00bfff;
  font-size: 18px;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 12%;
  cursor: pointer;
}

.usedButton {
  background-color: red;
  font-size: 18px;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 50%;
}

.unUsedButton {
  background-color: green;
  font-size: 18px;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 50%;
}

.unallocateButton {
  background-color: red;
  font-size: 18px;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 20%;
  cursor: pointer;
}

